version: "3.8"

services:
  frontend:
    build: ./frontend
    container_name: react-frontend
    restart: always
    depends_on:
      - backend
    # publish cổng 80 của container ra host 8081
    ports:
      - "8082:80"
volumes:
  mysql_data:
