/* Header.css */

.header {
    width: 100%;
    background: #fdfdfd;
    padding: 12px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 90px;
}

.header‐inner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center; /* căn giữa theo dọc */
    justify-content: space-between;
    height: 100%; /* để căn giữa theo height của header */
}

.header-logo {
    color: rgb(0, 93, 151);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav-links {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-link {
    color: rgb(0, 93, 151);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 4px;
    transition: color 0.25s;
}

.nav-link.active {
  position: relative;
  font-weight: 600;
  border-bottom: 2px solid #132414;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px; /* cách chữ 1 chút */
  transform: translateX(-50%);
  width: 60%;      /* độ rộng ánh sáng */
  height: 6px;     /* độ dày ánh sáng */
  background: radial-gradient(circle, rgba(255,255,200,0.6) 0%, rgba(255,255,200,0) 80%);
  border-radius: 50%;
  filter: blur(6px);
  z-index: -1;
  animation: glowPulse 1.5s infinite;
}

@keyframes glowPulse {
  0%,100% { opacity: 0.6; transform: translateX(-50%) scale(1); }
  50% { opacity: 0.9; transform: translateX(-50%) scale(1.1); }
}


.hamburger-btn {
    display: none;
    font-size: 24px;
    color: rgb(0, 93, 151);
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 260px;
    height: 100%;
    background: #2e7d32;
    padding-top: 60px;
    transition: right 0.35s ease;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.2);
}

.mobile-menu.open {
    right: 0;
    z-index: 1000;
}

.mobile-menu ul {
    list-style: none;
    padding: 0 16px;
    margin: 0;
}

.mobile-menu li {
    margin: 16px 0;
}

.mobile-menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

Header a {
    text-decoration: none;
}

/* Responsive breakpoint */
@media (max-width: 758px) {
    .nav-links {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }

    Header a {
        text-decoration: none;
    }

}